@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

/* 추가적인 font-weight 설정이 필요하다면 여기 추가 */

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard", sans-serif;
}

.h2 {
  font-size: 24px; /* 폰트 크기 증가 */
  font-weight: 700;
  text-align: left;
  width: 100%;
  margin: 0;
  color: #a9a9a9;
}

.h3 {
  font-size: 16px; /* 폰트 크기 증가 */
  width: 100%;
  margin: 10px 0; /* 약간의 여백 추가 */
}

.quiz-container {
  width: 360px;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fdba12;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 30px;
}
.search-input::placeholder {
  color: #6e6259; /* placeholder 노란색 */
  font-weight: 500;
}

.keywords-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.keyword-button {
  padding: 10px; /* 패딩 증가 */
  border-radius: 25px; /* 테두리 반경 증가 */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  border: 1.2px solid #a9a9a9;
}

.keyword-button:hover {
  background-color: #d5d5d5;
}

.generate-quiz-button {
  background-color: #fdba12;
  color: #6e6259;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
.generate-quiz-button:hover {
  background-color: #fdba12;
}

.left-align {
  text-align: left;
  width: 100%;
  margin: 0;
}
