@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard", sans-serif;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 100%;
  margin: 0;
  color: #a9a9a9;
}

.h3 {
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}

.quiz-container {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fdba12;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 30px;
}
.search-input::placeholder {
  color: #6e6259;
  font-weight: 500;
}

.keywords-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.keyword-button {
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  border: 1px solid #6e6259;
}

.keyword-button:hover {
  background-color: #d5d5d5;
}

.generate-quiz-button {
  background-color: #fdba12;
  color: #6e6259;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
.generate-quiz-button:hover {
  background-color: #fdba12;
}

.left-align {
  text-align: left;
  width: 100%;
  margin: 0;
}
